{% assign _ss = section.settings %}
{% assign _section = section.id | split: '__' | last | slice: -4, 4 | prepend: '#sn_' %}
{%- assign _this = section.id | prepend: '#shopify-section-' -%}

{%- capture section_content -%}
<style>
    {{ _section }} {
        position: relative;
        background: {{ _ss.background }};
        padding-top: {{ _ss.padding_top }}px;
        padding-bottom: {{ _ss.padding_bottom }}px;
    }

    {{ _section }} .section_holder {
        position: relative;
        max-width: 1920px;
        margin: auto;
        padding: 0px 40px;
    }

    @media screen and (max-width: 900px) {
        {{ _section }} {
            padding-top: {{ _ss.padding_top_mobile }}px;
            padding-bottom: {{ _ss.padding_bottom_mobile }}px;
        }
        
        {{ _section }} .section_holder {
            padding: 0px 15px;
        }


    }
    

</style>


<div id="sn_{{ section.id | split: '__' | last | slice: -4, 4 }}">
    <div class="section_holder">
    
    </div>
</div>

{%- endcapture -%}

{{- section_content | remove: '  ' | strip_newlines -}}

{% schema %}
    {
        "name": "Section name here",
        "settings": [
            {
                "type": "header",
                "content": "General Settings"
            },
            {
                "type": "color_background",
                "id": "background",
                "label": "Background color",
                "default": "#FFFFFF00"
            },
            {
                "type": "range",
                "id": "padding_top",
                "label": "Desktop padding top",
                "min": 0,
                "max": 300,
                "step": 5,
                "default": 100
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "label": "Desktop padding bottom",
                "min": 0,
                "max": 300,
                "step": 5,
                "default": 100
            },
            {
                "type": "range",
                "id": "padding_top_mobile",
                "label": "Mobile padding top",
                "min": 0,
                "max": 200,
                "step": 5,
                "default": 50
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "label": "Mobile padding bottom",
                "min": 0,
                "max": 200,
                "step": 5,
                "default": 50
            }
        ],
        "blocks": [
        ],
        "presets": [{
            "name": "Section name here"
        }]
    }
{% endschema %}
